stockServer/stockServer.VC.VC.opendb
stockServer/stockServer.VC.db
stockServer/stockServer.vcxproj
stockServer/stockServer.vcxproj.filters
stockServer/stockServer.vcxproj.user
stockServer/stockServer.sln
stockClient/stockClient.VC.db
stockServer/stockClient.sln
stockClient/stockClient.vcxproj
stockClient/stockClient.vcxproj.filters
stockClient/stockClient.vcxproj.user
stockServer/Debug
stockClient/Debug
